body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hidden {
  display: none;
}

.btn-with-icon {
  margin: 5px auto;
  display: inline-flex !important;
  padding: 5px;
}

.btn-with-icon > svg {
  margin: auto 5px auto 10px;
}

.white-icon {
  fill: white;
  transform: scale(1.5);
  margin: auto 5px;
}

.container-fluid {
  padding: 0 !important;
}

.container-fluid > .container-fluid,
.container-fluid > .container {
  margin: 2% auto;
}

@media only screen and (min-width: 600px) {
  .container-fluid > .container-fluid,
  .container-fluid > .container {
    max-width: 80%;
  }
}

.container-fluid .container-fluid > h4,
.container-fluid .container > h4 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-fluid > .row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.white-background {
  background-color: white !important; /* "!important" overrides bootstrap */
}

table td {
  overflow-x: auto;
}

.disabled {
  cursor: not-allowed !important; /* "!important" overrides bootstrap */
}

.progress {
  margin: 6px 0;
}

.results-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results-table tbody td:nth-child(2){
  display: grid;
}

.validation-form {
  margin-bottom: 10px;
}

.visualization {
  width: 100%;
  overflow: auto;
}
